/**************** text class ******************/

@mixin font_basic($weight: 500) {
  font-family: 'Noto Sans KR';
  font-style: normal;
  color: rgba(0, 0, 0, 0.95);
  font-weight: $weight;
}

@mixin fontCaption {
  @include font_basic(300);
  font-size: 10px;
  line-height: 14px;
}

@mixin fontButton1 {
  @include font_basic(700);
  font-size: 14px;
  line-height: 24px;
}

@mixin fontBody2 {
  @include font_basic(300);
  font-size: 14px;
  line-height: 24px;
}

@mixin fontBody1 {
  @include font_basic(300);
  font-size: 16px;
  line-height: 28px;
}

@mixin fontSubtitle2 {
  @include font_basic(500);
  font-size: 14px;
  line-height: 24px;
}

@mixin fontSubtitle1 {
  @include font_basic(500);
  font-size: 16px;
  line-height: 28px;
}

@mixin fontH1 {
  @include font_basic(900);
  font-size: 33px;
  line-height: 50px;
}

@mixin fontH2 {
  @include font_basic(700);
  font-size: 23px;
  line-height: 36px;
}

@mixin fontH3 {
  @include font_basic(700);
  font-size: 19px;
  line-height: 32px;
}

@mixin font_error {
  @include fontBody2;
  color: #ff2b0e;
}

/**************** Input class ******************/

@mixin Input_basic($color: #a6a6a6) {
  width: 296px;
  height: 48px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid $color;
}

@mixin Input_normal {
  @include Input_basic(#a6a6a6);
}

@mixin Input_active {
  @include Input_basic(#120dff);
  box-shadow: 0px 0px 14px rgba(18, 13, 255, 0.18);
}

@mixin Input_validation {
  @include Input_basic(#120dff);
  box-shadow: 0px 0px 14px rgba(18, 13, 255, 0.18);
}

@mixin Input_error {
  @include Input_basic(#ff2b0e);
  box-shadow: 0px 0px 14px rgba(255, 43, 14, 0.18);
}

/**************** Button class ******************/

@mixin Button_basic($btnColor: #000000, $textColor: #ffffff) {
  width: 296px;
  height: 48px;
  background: $btnColor;
  border-radius: 8px;
  color: $textColor;
  text-align: center;
}

@mixin Button_normal {
  @include Button_basic(#000000, #ffffff);
}

@mixin Button_active {
  @include Button_basic(#2e2e2e, #727272);
}

@mixin Button_validation {
  @include Button_basic(#2e2e2e);
}

@mixin Button_disabled {
  @include Button_basic(#cccccc, #ffffff);
}

@mixin IconBtn_normal {
  @include Button_basic(#120dff, #ffffff);
}

@mixin IconBtn_active {
  @include Button_basic(#02006c, #727272);
}

@mixin IconBtn_validation {
  @include Button_basic(#02006c, #ffffff);
}
